<head>
  <link rel="stylesheet" href="../css/styles.css"/>
</head>
<body>
  <p>
    Results for: <%= user.username %>
  </p>
  <p>
    User id: <%= user.id %>
  </p>
  <p>
    Total chests earned this season: <%= user.totalChests %>
  </p>
  <p>
    Thanks for registering.
  </p>
  <p>
    Summoner is now being tracked.
  </p>
  <br>
  <a href="/"> Back to form </a>
</body>
